/* mobile */
.navbar {
    /* border: 2px solid rgb(253, 251, 251); */
    width: 100%;
    height: 60px;
    padding: 2px;
    gap: 5px;
    color: var(--cl-first);
}

.nav-left {
    /* border: 2px solid rgb(98, 255, 0); */
    height: 100%;
    width: 50%;
    align-items: center;
}

.nav-left h1 {
    font-family: var(--font-one);
    font-size: 1.3rem;
    padding-left: 10px;
    text-transform: uppercase;
}

.nav-right {
    /* border: 2px solid rgb(255, 0, 174); */
    height: 100%;
    width: 50%;
    justify-content: right;
    padding-right: 10px;
}

.nav-right img {
    height: 100%;
    width: auto;
    align-items: center;
}